<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WOLayout_Connection" connectionString="Data Source=MXCPRDLOCALDB01;Initial Catalog=LayoutSystem;User ID=mxcprd;Password=Admin10" />
    <add name="RH_Connection" connectionString="data source=MEXI1285\SQLEXPRESSCLOVER;user id=Sa;password=Carlos1612;initial catalog=Servicio;Persist Security Info=true" />
    <add name="AS400SYS_Connection" connectionString="Driver=iSeries Access ODBC Driver;System=AS400SYS;uid=inqmex;pwd=inqmex;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>